h2 {
    font-size: 2.5vw;
    color: rgb(2,82,85);
    margin-left: .5rem;
}

.primerP {
    text-indent: .5rem;
}

/*página valores-------------------------*/
/*.valores es ol*/
.valores {
    margin: 1vw 0;
    padding: 0 1vw;
}

.valores li {
    margin-bottom: 2rem;
    z-index: 1;
    color: white;
    position: relative;
    left: .8rem;
  }
  
.valores p {
    display: inline;
    font-size: 1.2vw;
    color: black;
  }

 .valores li::before {
    content: '';
    z-index: -1;
    color: white;
    border: .8vw solid rgb(2,82,85);
    border-radius: 50%;
    position: relative;
    right: 1.75vw;
  }

/*Navegación autoridades (con javascript)*/
.navAutoridades {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navAutoridades ul {
    width: 75vw;
    margin-top: 2rem;
    background-color: rgb(59, 74, 90);
    padding: 0;
    border-bottom: 2px solid black;
    overflow: hidden;
    white-space: nowrap;
}

.navAutoridades li {
    display: inline-block;
    padding: 2vw 1vw;
}

.navAutoridades a {
    font-size: 1.5vw;
}

/*section autoridades (caja que contiene cada profesional)*/

.autoridades {
    width: 75vw;
    margin: 0 auto 1rem;
    background-color: rgb(59, 74, 90);
}

.autoridades ul:not(:first-of-type) {
    display: none;
}

.autoridades ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.autoridades li {
    overflow-x:auto;
    padding: 0;
    margin: 0;
    width: 75vw;
    border-bottom: 2px black solid;
    list-style: none;
    display: grid;
    grid-template-columns: min-content max-content;
    grid-template-rows: min-content 2rem;
}

.autoridades ul > li > img {
    width: 15vw;
    border: 2px solid black;
    margin: 2vw 2vw 2vw 2vw;
    grid-row: 1 / 3;
}

.autoridades ul > li > h3 {
    font-size: 2vw;
    color: white;
}

.autoridades ul > li > p {
    width: fit-content;
    margin: 0;
    font-size: 1.5vw;
    color: white;
}   


@media (min-width:815px) {    
    .historia > p, 
    .mision,
    .mision > li,
    .valores > li {
        font-size: 1.5vw;
        text-align: left;
        margin-left: 0.5rem;
    }
    
    /*Navegación de sección institucional*/
    .navInstitucional {
        background-color: rgb(0, 157, 218);
        margin-top: 1rem;
        height: 3rem
    }
    
    .navInstitucional > ul > li {
        position: relative;
        bottom: 3rem;
        text-align: center;
    }
    
    .activo {
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-color: white;
        text-decoration-thickness: 0.2rem;
        text-underline-offset: 0.3rem;
        cursor: pointer;
        /*text-decoration: underline solid;
        font-size: 1rem;*/
    }
    
    ul {
        list-style: square;
    }
    
}

@media only screen and (max-width: 815px) {
    .navInstitucional > ul {
        display: none;
    }

    p {
        position: relative;
        top: auto;
        margin: 0.6rem;
    }

    .directorioList > li > img {
        width: 30vw;
    }
}