body {
    width: 100%;
    margin: 0%;
    background-color: rgb(238, 241, 239);
    font-family: 'Calibri';
    font-size: 15px;
    background-size: cover;
}

/* Estilos para el formulario de solicitud de turno */
form {
    justify-content: center;
    margin-top: 50px;
  }
  
  h2 {
    font-size: 24px;
    color: rgb(0, 157, 218);
    margin-bottom: 20px;
    margin-left: 1rem;
  }
  
  fieldset {
    border: none;
    width: 100%;
    margin:0;
    padding: 0;
    border-top: 1px solid black;
    margin-top: 1rem;
    justify-content: space-between;
    padding-top: 1rem;
    vertical-align: middle;
  }

  legend {
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  
  label {
    display: inline-block;
    padding: 2rem;
    font-weight: bold;
  }
  
  label > input,
  label > select {
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    font-size: 16px;
  }
  
 /* label[for="inputSelect"], label[for="inputDate"], label[for="inputHorarios"]{
    background-color: #f1f1f1;
    text-align: center;
    padding:1rem;
  } */
  
  fieldset p {
    font-size: 18px;
    margin-bottom: 10px;
    color: rgb(0, 157, 218);
    margin-left: 1rem;
  }
  
  label > input[type="radio"] {
    margin-left: 5px;
    margin-right: 10px;
  }

  label[for="inputHorarios"] {
    display: inline-block;
    align-items: center;
    margin-top: 10px;
  }

  label[for="inputHorarios"] > label {
    margin-right: 10px;
  }
  
  label[for="inputHorarios"] > label > input[type="radio"] {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  label > input[type="submit"],
  label > input[type="reset"] {
    background-color: rgb(0, 157, 218);
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 1rem;
  }
  
  label > input[type="reset"] {
    background-color: rgb(252, 196, 68);
    margin-left: 10px;
  }
  
  label > input[type="submit"]:hover,
  label > input[type="reset"]:hover {
    background-color: #0056b3;
  }

  #dropzone {
    width: 300px;
    height: 200px;
    border: 2px dashed gray;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #dropzone.dragover {
    background-color: #f7f7f7;
  }

  .imageContainer {
    margin-top: 20px;
  }

  .message {
    margin-top: 10px;
    font-size: 16px;
  }

  #agendaContainer {
    margin-top: 20px;
  }
  
  .agendaTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .agendaTable th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }
  
  .agendaTable td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .agendaTable tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .agendaTable tr:hover {
    background-color: rgb(0, 157, 218);
    cursor: pointer;
  }
  
  .agendaTable th:first-child,
  .agendaTable td:first-child {
    padding-left: 20px;
  }
  
  .agendaTable th:last-child,
  .agendaTable td:last-child {
    padding-right: 20px;
  }

  .selected {
    background-color: rgb(0, 157, 218);
    cursor: pointer;
  }
  
  
  