{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/info-util.css">
    <link rel="stylesheet" href="/assets/css/submenu.css">
{% endblock head %}

{% block title %}Novedades{% endblock title %}

{% block content %}

    <nav class="breadcrumb">
        <ul>
            <li>
                <a href="/home.html">Home</a>
            </li>
            <li>
                <a href="#">Información Útil</a>
            </li>
            <li>
                <a href="/info-util/novedades.html">Novedades</a>
            </li>
        </ul>
    </nav>

    <nav class="nav-info-util">
        <ul>
            <li><a href="/info-util/coberturasMedicas"><p>Coberturas médicas</p></a></li>
            <li><a href="/info-util/novedades"><p>Novedades</p></a></li>
            <li><a href="/info-util/patologiasytratamientos"><p>Patologías y tratamientos</p></a></li>
        </ul>
    </nav>
    
    <section class="sNovedades">
        <article>
            <h3>Granulomatosis nasal con poliangeítis inducida por cocaína</h3>
            <img src="/assets/imgs/cocaina.jpg" alt="Noticia Granulomatosis">
            <p>La cocaína y la cocaína mezclada con levamisol se usan cada vez más en el Reino Unido y provocan un daño nasal directo significativo además de promover la vasculitis. Nuestros objetivos fueron los siguientes: (1) identificar los principales síntomas y presentación de la vasculitis inducida por cocaína; (2) proporcionar evidencia sobre las mejores prácticas para la investigación y el diagnóstico de vasculitis inducida por cocaína; y (3) analizar los resultados clínicos de los pacientes para comprender el manejo óptimo de la afección.</p>
            <a href="#">Leer más</a>
          </article>
          <article>
            <h3>Granulomatosis nasal con poliangeítis inducida por cocaína</h3>
            <img src="/assets/imgs/cocaina.jpg" alt="Noticia Granulomatosis">
            <p>La cocaína y la cocaína mezclada con levamisol se usan cada vez más en el Reino Unido y provocan un daño nasal directo significativo además de promover la vasculitis. Nuestros objetivos fueron los siguientes: (1) identificar los principales síntomas y presentación de la vasculitis inducida por cocaína; (2) proporcionar evidencia sobre las mejores prácticas para la investigación y el diagnóstico de vasculitis inducida por cocaína; y (3) analizar los resultados clínicos de los pacientes para comprender el manejo óptimo de la afección.</p>
            <a href="#">Leer más</a>
          </article>
          <article>
            <h3>Granulomatosis nasal con poliangeítis inducida por cocaína</h3>
            <img src="/assets/imgs/cocaina.jpg" alt="Noticia Granulomatosis">
            <p>La cocaína y la cocaína mezclada con levamisol se usan cada vez más en el Reino Unido y provocan un daño nasal directo significativo además de promover la vasculitis. Nuestros objetivos fueron los siguientes: (1) identificar los principales síntomas y presentación de la vasculitis inducida por cocaína; (2) proporcionar evidencia sobre las mejores prácticas para la investigación y el diagnóstico de vasculitis inducida por cocaína; y (3) analizar los resultados clínicos de los pacientes para comprender el manejo óptimo de la afección.</p>
            <a href="#">Leer más</a>
          </article>
          <article>
            <h3>Granulomatosis nasal con poliangeítis inducida por cocaína</h3>
            <img src="/assets/imgs/cocaina.jpg" alt="Noticia Granulomatosis">
            <p>La cocaína y la cocaína mezclada con levamisol se usan cada vez más en el Reino Unido y provocan un daño nasal directo significativo además de promover la vasculitis. Nuestros objetivos fueron los siguientes: (1) identificar los principales síntomas y presentación de la vasculitis inducida por cocaína; (2) proporcionar evidencia sobre las mejores prácticas para la investigación y el diagnóstico de vasculitis inducida por cocaína; y (3) analizar los resultados clínicos de los pacientes para comprender el manejo óptimo de la afección.</p>
            <a href="#">Leer más</a>
          </article>
          <article>
            <h3>Granulomatosis nasal con poliangeítis inducida por cocaína</h3>
            <img src="/assets/imgs/cocaina.jpg" alt="Noticia Granulomatosis">
            <p>La cocaína y la cocaína mezclada con levamisol se usan cada vez más en el Reino Unido y provocan un daño nasal directo significativo además de promover la vasculitis. Nuestros objetivos fueron los siguientes: (1) identificar los principales síntomas y presentación de la vasculitis inducida por cocaína; (2) proporcionar evidencia sobre las mejores prácticas para la investigación y el diagnóstico de vasculitis inducida por cocaína; y (3) analizar los resultados clínicos de los pacientes para comprender el manejo óptimo de la afección.</p>
            <a href="#">Leer más</a>
          </article>
          <article>
            <h3>Granulomatosis nasal con poliangeítis inducida por cocaína</h3>
            <img src="/assets/imgs/cocaina.jpg" alt="Noticia Granulomatosis">
            <p>La cocaína y la cocaína mezclada con levamisol se usan cada vez más en el Reino Unido y provocan un daño nasal directo significativo además de promover la vasculitis. Nuestros objetivos fueron los siguientes: (1) identificar los principales síntomas y presentación de la vasculitis inducida por cocaína; (2) proporcionar evidencia sobre las mejores prácticas para la investigación y el diagnóstico de vasculitis inducida por cocaína; y (3) analizar los resultados clínicos de los pacientes para comprender el manejo óptimo de la afección.</p>
            <a href="#">Leer más</a>
          </article>       
    </section>

{% endblock content %}