{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/info-util.css">
    <link rel="stylesheet" href="/assets/css/submenu.css">
{% endblock head %}

{% block title %}Patologias y Tratamientos{% endblock title %}

{% block content %}
    
    <nav class="breadcrumb">
        <ul>
            <li>
                <a href="/home.html">Home</a>
            </li>
            <li>
                <a href="#">Información Útil</a>
            </li>
            <li>
                <a href="/info-util/patologiasytratamientos.html">Patologias y Tratamientos</a>
            </li>
        </ul>
    </nav>

    <nav class="nav-info-util">
        <ul>
            <li><a href="/info-util/coberturasMedicas"><p>Coberturas médicas</p></a></li>
            <li><a href="/info-util/novedades"><p>Novedades</p></a></li>
            <li><a href="/info-util/patologiasytratamientos"><p>Patologías y tratamientos</p></a></li>
        </ul>
    </nav>

    <section class="sLetras">
        <p>Filtrar por letra</p>
        <label class="letra" for="letra">
            <span>A</span>
            <span>B</span>
            <span>C</span>
            <span>D</span>
            <span>E</span>
            <span>F</span>
            <span>G</span>
            <span>H</span>
            <span>I</span>
            <span>J</span>
            <span>K</span>
            <span>L</span>
            <span>M</span>
            <span>N</span>
            <span>O</span>
            <span>P</span>
            <span>Q</span>
            <span>R</span>
            <span>S</span>
            <span>T</span>
            <span>U</span>
            <span>V</span>
            <span>W</span>
            <span>X</span>
            <span>Y</span>
            <span>Z</span>
        </label>
        <ul>
            <li><a href="">Enfermedad 1</a></li>
            <li><a href="">Enfermedad 2</a></li>
            <li><a href="">Enfermedad 3</a></li>
            <li><a href="">Enfermedad 4</a></li>
            <li><a href="">Enfermedad 1</a></li>
            <li><a href="">Enfermedad 2</a></li>
            <li><a href="">Enfermedad 3</a></li>
            <li><a href="">Enfermedad 4</a></li>
            <li><a href="">Enfermedad 1</a></li>
            <li><a href="">Enfermedad 2</a></li>
            <li><a href="">Enfermedad 3</a></li>
            <li><a href="">Enfermedad 4</a></li>
            <li><a href="">Enfermedad 1</a></li>
            <li><a href="">Enfermedad 2</a></li>
            <li><a href="">Enfermedad 3</a></li>
            <li><a href="">Enfermedad 4</a></li>  
        </ul>
    </section>

{% endblock content %}