{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/portal-pacientes.css">
{% endblock head %}

{% block title %}Perfil usuario{% endblock title %}

{% block content %}

    <nav class="menu">
        <ul>
            <li>
                <a href="/portal-pacientes/perfil-usuario">Mi perfil</a>
            </li>
            <li>
                <a href="/portal-pacientes/historial-turnos">Historial de turnos</a>
            </li>
            <li>
                <a href="/portal-pacientes/estudios-realizados">Estudios realizados</a>
            </li>
            <li>
                <a href="#">Cerrar sesión</a>
            </li>
        </ul>
    </nav>

    <main class="datosPaciente">
        <h2>Tus datos: <!--Nombre--></h2>
        <p>Mail: juanperez25@gmail.com</p><i class="icono-gear"></i><a href="#">Modificar</a>
        <p>Obra social: ASIMRA</p><i class="icono-gear"></i> <a href="#">Modificar</a>
        <p>Teléfono: 2346505152</p><i class="icono-gear"></i> <a href="#">Modificar</a>
        <p>Contraseña: *************</p><i class="icono-gear"></i> <a href="#">Modificar</a>
    </main>

{% endblock content %}