{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/portal-pacientes.css">
{% endblock head %}

{% block title %}Recuperar Contraseña{% endblock title %}

{% block content %}

    <h2>Recuperación de contraseña</h2>
    <form action="servidor-ejemplo.com" method="post">
        <label for="inputMail">Dirección de e-mail:
            <input type="email" name="inputMail">
        </label>
        <p>¿No tienes cuenta? <a href="nuevo-usuario.html">Regístrate</a></p>
  
        <input type="submit" value="Recuperar">
    </form>

{% endblock content %}