  
  .sBusqueda {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

 .carousel-prev-button,
 .carousel-next-button {
   /* Add styles for the carousel navigation buttons */
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   padding: 10px;
   background-color: #fff;
   color: #000;
   border: none;
   cursor: pointer;
   z-index: 2;
 }

 .carousel-prev-button.active,
.carousel-next-button.active {
  background-color: #000; /* Customize the active background color */
  color: #fff; /* Customize the active text color */
}

/* Optional: Add hover styles for the carousel buttons */
.carousel-prev-button:hover,
.carousel-next-button:hover {
  background-color: #ddd; /* Customize the hover background color */
  color: #000; /* Customize the hover text color */
}

  .carousel-prev-button {
    left: 10px;
  }
  
  .carousel-next-button {
    right: 10px;
  }


  .carousel-images {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
    width: calc(100vw * 3); /*3 es el num de imgs*/
  }

  .carousel-image {
    height: 100%;
    flex: 1 0 100vw;
    object-fit: cover;
  }
.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ccc;
  }

  .progress-bar-fill {
    height: 100%;
    background-color: #4CAF50;
    transition: width 0.3s ease;
  }