form {
  padding: 1rem;
}

.sTable {
  width: 100%; /* ajusta el ancho según tus necesidades */
  height: max-content; /* ajusta la altura según tus necesidades */
  overflow: scroll;
}

label {
  display: inline-block;
  font-weight: bold;
}

label, select {
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

#fFilter label,select {
  padding: 0.4rem;
}

#fFilter button {
  background-color: rgb(0, 157, 218);
  border-radius: 0.5rem;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 0.5rem;
  margin-left: 1rem;
}

th {
  text-align: center;
  cursor: pointer;
}

th:after {
  content: '\25B2';
  float: left;
}

th.asc:after {
  content: '\25BC';
}

.hidden {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  padding: 1rem;
  text-align: left;
}

table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.highlighted {
  background-color: yellow;
}

#pagination {
  text-align: center;
  padding: 1.5rem;
}

/* Estilos para la parte móvil */

@media (max-width: 600px) {
  form {
    padding: 1rem;
  }
  
  table th,
  table td {
    padding: 5px;
  }
  
  #fFilter label,select {
    display: flex;
  }

  #fFilter button {
    margin: 1rem;
  }
}

