<!DOCTYPE html>
<html>
    <head lang="es">
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{% block title %}{% endblock %}</title>
            <link rel="stylesheet" href="https://unpkg.com/browse/reset-css@5.0.1/reset.css">
            <link rel="stylesheet" href="/assets/css/global.css">
            <link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css">
            <script src="/assets/scripts/components/classPaw.js"></script>
            <script src="/assets/scripts/app.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include 'parts/header.view.html' %}    
        {% endblock %}
        {% block nav %}
            {% include 'parts/nav.view.twig' %}    
        {% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}
            {% include 'parts/footer.view.html' %}
        {% endblock %}
    </body>
</html>