{% extends "base.twig" %}

{% block title %}Internal Error{% endblock title %}

{% block content %}

    <h1>Internal Error :|</h1>
    
    <section class="medicoInterface"></section>

{% endblock content %}