{% extends "base.twig" %}

{% block title %}Interfaz médicos{% endblock title %}

{% block content %}

    <h1>Turnos de hoy</h1>
    
    <section class="medicoInterface"></section>

{% endblock content %}