{% extends "base.twig" %}

{% block title %}Trabaja con Nosotros{% endblock title %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/trabajaconnosotros.css">    
{% endblock head %}

{% block content %}

<h2>Dejanos tu CV!</h2>
<form action="/trabajaconnosotros" method="post">
    <label for="inputNombre">
        Nombre
        <input type="text" required name="nombre" />
    </label>
    <label for="inputApellido">
        Apellido
        <input type="text" required name="apellido" />
    </label>    
    <label for="inputEmail">
        Email
        <input type="email" required name="email"/>
    </label>
    <label for="inputTelefono">
        Telefono
        <input type="tel" required name="telefono"/>
    </label>
    <label for="inputDireccion">
        Direccion
        <input type="text" required name="direccion" />
    </label>
    <label for="inputCP">
        Código Postal
        <input type="text" required name="cp" />
    </label>
    <label for="inputSelect">
        Nivel de Estudio
        <select name="estudio">
            <option value="Primario">Primario</option>
            <option value="Secundario">Secundario</option>
            <option value="Universitario">Universitario</option>
        </select>
    </label>
    <label for="inputSelect">
        Área
        <select name="area">
            <option value="Admistración">Admistración</option>
            <option value="Enfermería">Enfermería</option>
            <option value="Traumatología">Traumatología</option>
        </select>
    </label>
    <label for="inputCV">
        Adjunte su CV
        <input type="file" required name="inputCV" />
        <small>Máximo 20 MB.</small>
    </label>  
    <label for="inputSubmit">
        <input type="submit" name="inputSubmit"/>
    </label>
    <?php if ($procesado) : ?>
        <div>
            Su peticion fue procesada con exito.
        </div>
    <?php endif; ?>
</form>

{% endblock content %}


