/*SECTION HEADER-------------------------------*/
header {
    display: inline-block;
    position: relative;
    left: 0;
}

.icono {
    width: 3rem;
}

/*SECTION NAV-------------------------------------------*/

#navCentral {
    background-color: rgb(0, 225, 255);
    position: absolute;
    width: 100%;
    top: 0;
    left: 10rem;
    font-size: 1rem;
    display: flex;
    justify-content:center;
    align-items: center;
}

.desplegable {
    display: none;
}

#listaNav > li {
    display: inline-block;
    margin-bottom: 4.5rem;
    margin-right: 4rem;

}

/*SECTION FOOTER-------------------------*/
footer {
    background-color: rgba(0, 0, 0, 0.753);    
}

.logos-redes {
    width: 2rem;
}

.contacto {
    display: inline-block;
}

