/*SECTION HEADER-------------------------------*/
header {
    display: flex; 
    position: relative;
    left: 0;
    float: left;
    z-index: 1;
}

.icono {
    width: 18rem;
}

/*SECTION NAV-------------------------------------------*/

nav {
    position: relative;
    background-color: #d6d3ac;
    height: 150px;
    text-align: center;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding-top: 80px;
    position: relative;
    display: flex;
    justify-content: space-around;
    left: -30px;
}
  
nav li {
    margin-right: 20px;
    position: relative;
}
  
nav li:hover ul {
    display: block;
    background-color: black;
}

nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 0;
}

nav ul ul li {
    margin-right: 0;
    width: 200px;
}

nav ul ul a {
    padding: 0.5rem 1rem;
  }

/*SECTION FOOTER-------------------------*/
footer {
    background-color: rgba(0, 0, 0, 0.753);
    clear:both;
}

.logos-redes {
    width: 2rem;
}

.contacto {
    display: inline-block;
}

