/*SECTION HEADER-------------------------------*/
header {
    display: inline-block;
    position: relative;
    left: 0;
}

.icono {
    width: 3rem;
}

/*SECTION NAV-------------------------------------------*/

nav {
    background-color: #0077c2;
    color: #fff;
    margin-left: 150px;
    height: 50px;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
nav li {
    margin-right: 20px;
    position: relative;
}
  
nav li:hover ul {
    display: block;
}

nav a {
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 0;
}

nav ul ul li {
    margin-right: 0;
    width: 200px;
}

nav ul ul a {
    padding: 0.5rem 1rem;
  }

/*SECTION FOOTER-------------------------*/
footer {
    background-color: rgba(0, 0, 0, 0.753);    
}

.logos-redes {
    width: 2rem;
}

.contacto {
    display: inline-block;
}

