/* Coberturas Medicas */

.obras-sociales {
    width: 100%; /* ancho fijo */
    text-align: center;
    min-height: 64vh;
    padding-bottom: 7.2rem;
}

.obras-sociales ul {
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    margin:0;
}

.obras-sociales a  {
    height: 8rem;
}

.obras-sociales a > img {
    border-radius: 20px;
    width: 12rem; /* ancho de cada imagen */
    height: 8rem; /* altura de cada imagen */
    margin: 50px 50px 50px 50px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
}

/* Novedades */

.sNovedades {
    margin: 0;
    padding: 0;
    width: 100%; /* ancho fijo */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.sNovedades img {
    border-radius: 0.5rem;
    width: 15rem; /* ancho de cada imagen */
    height: 10rem; /* altura de cada imagen */
    margin: 1rem;
}

article {
    width: min-content;
    height: min-content;
    background-color: rgb(238, 241, 239);
    margin: 3rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(2, 82, 85); 
    box-shadow: 0px 0px 100px rgb(0, 0, 0, 0.5);     
}

article h3 {
    font-size: 24px;
    margin: 20px;
}
  
article p {
    line-height: 1.5;
}

/* Patologias y Tratamientos */

.sLetras {
    padding-top: 2rem;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sLetras p {
    margin: 2rem;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    font: 1.2rem bold;
    border-radius: 0.5rem;
}

.sLetras ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 0;
}

.sLetras ul li {
    font-size: 1.2rem;
    margin: 3rem;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    background-color: rgb(2, 82, 85);
}

.sLetras ul a {
    color: white;
    text-decoration: none;
}

.letra {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    text-align: center;
    border: 1px solid rgb(0, 157, 218);
    cursor: pointer;
    color: rgb(0, 157, 218);
}
