@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    width: 100%;
    margin: 0%;
    background-color: rgb(238, 241, 239);
    font-family: 'Gotham';
    font-size: 15px;
    background-size: cover;
}

/*BOTON RESERVAR--------------------------*/

/*div boton reservar*/
/*.botonReservar {
    position: fixed;
    right: 2rem;
    top: 20rem;
    width: 6rem;
    height: 6rem;
    background-color: #C7EFCB;
    border-radius: 50%;
    border: 5px solid white;
} */

.botonReservar {
    position: fixed;
    right: 2rem;
    top: 20rem;
    width: 6rem;
    height: 6rem;
    border: 5px solid white;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

/*imagen whatsapp*/
#whatsapp {
    width: 6rem;
    border-radius: 50%;
}

/*TITULOS Y CAMPO DE BUSQUEDA---------------------*/
#sBusqueda {
    background-image: url("/imgs/portada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: 100%;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#sBusqueda h3,form {
    margin: 0 auto;
    text-align: center;
}

#sBusqueda h2 {
    font-size: 40px;
    color: white;
}

#sBusqueda h3 {
    font-size: 20px;
    color: white;
}

#sBusqueda form input[type="text"] {
  padding: 5px;
  font-size: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}  

#sBusqueda form input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#sBusqueda form a {
    width: 50%;
}

#lupa {
    font-size: 200px; 
    background-color: white;
    border-color: black; 
    border-width: 1px;
}

.mapa {
    display: inline-block;
    width: 100%;
}

.sMapa {
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.sMapa h3 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(0, 157, 218);
    text-align: center;
}

/*SECTION CONSULTA---------------------*/

.consulta {
    width: 50%;
    margin-bottom: 5%;
    margin-top: 5%;
    float: right;
    padding: 0px;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.consulta h3 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(0, 157, 218);
    text-align: center;
}

.consulta form label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

.consulta form input[type="text"],
.consulta form input[type="email"] {
  padding: 5px;
  font-size: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}  

.consulta form input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

.consulta form input[type="submit"]:hover {
    background-color: #2E8B57;
}

/*Coberturas Medicas---------------------*/

.obras-sociales {
    width: 100%; /* ancho fijo */
    height: 100%; /* altura fija */
    overflow: auto; /* permitir desplazamiento */
    text-align: center;
    justify-content: space-between;
    background-color: rgb(135, 211, 226);
}

.obras-sociales a > img {
    border-radius: 20px;
    width: 12rem; /* ancho de cada imagen */
    height: 8rem; /* altura de cada imagen */
    margin: 50px 50px 50px 50px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
}

/*Autoridades---------------------*/



