@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

/*SECTION HEADER-------------------------------*/
header {
    display: inline-block;
    z-index: 1;
    position: relative;
    left: 0;
    border: black 12px;
}

.icono {
    width: 3rem;
}

/*SECTION NAV-------------------------------------------*/

#navCentral {
    background-color: rgb(0, 225, 255);
    position: absolute;
    width: 100%;
    top: 0;
    left: 10rem;
    font-size: 0.5rem;
    display: flex;
    justify-content:center;
    align-items: center;
}

.desplegable {
    display: none;
}

#listaNav > li {
    display: inline-block;
}

/*BOTON RESERVAR--------------------------*/

.botonReservar {
    position: fixed;
    right: 2rem;
    top: 20rem;
    width: 6rem;
    height: 6rem;
    background-color: #C7EFCB;
    border-radius: 50%;
    border: 5px solid white;
}

.botonReservar > a {
    display: inline-block;
    font-size: 0.5rem;
}

#whatsapp {
    width: 4rem;
    border-radius: 50%;
}

/*TITULOS Y CAMPO DE BUSQUEDA---------------------*/
#sBusqueda {
    background-image: url("/imgs/portada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.mapa {
    display: inline-block;
    width: 15rem;
}

/*SECTION CONSULTA---------------------*/
.consulta {
    position: relative;
    bottom: 12.3rem;
    left: 15rem;
}

.consulta {
    background-color: lightgreen;
}

.consulta > input {
    padding: 2rem;
    margin-left: 2rem;
}

label[for="inputEmail"] {
    display: block;
}

label[for="inputConsulta"] {

}

/*SECTION FOOTER-------------------------*/
footer {
    background-color: rgba(0, 0, 0, 0.753);    
}

.logos-redes {
    width: 2rem;
}

.contacto {
    display: inline-block;
}





