@media screen and (width>815px) {
    
.breadcrumb {
    display: none;
}

.nav-info-util {
    background-color: rgb(0,157,218);
    height: 3.5vw;
    margin-top: 2rem;
}

.nav-info-util ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-info-util li {
    height: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-info-util a {
    color: white;
    font-size: 1.2vw;
}

.nav-info-util a.active {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: white;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.3rem;
}

}

@media screen and (max-width:815px) {

    /*nav*/

    .nav-info-util  {
        display: none;
    }

    .breadcrumb {
        width: fit-content;
        margin: 0;
    }
    
    .breadcrumb ul {
        list-style: none;
        text-decoration: underline;
    }

    .breadcrumb :not(:first-child) a:before {
        content: ">";
        padding-right: 0.5rem;
    }  

}

