body {
    width: 100%;
    margin: 0%;
    background-color: rgb(238, 241, 239);
    font-family: 'Calibri';
    font-size: 1rem;
    background-size: cover;
}

nav {
    border-bottom: 0.4rem rgb(0, 157, 218) solid;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2.7rem;
}
  
h2 {
    font-size: 2rem;
    color: rgb(0, 157, 218);
    margin-bottom: 2rem;
    margin-left: 1rem;
}
  
label {
    display: inline-block;
    padding: 1.5rem;
    font-weight: bold;
}

label > input,
label > select {
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

label > input[type="submit"] {
    background-color: rgb(0, 157, 218);
    border-radius: 0.5rem;
    border: none;
    color: white;
    cursor: pointer;
    padding: 1rem;
}

label > input[type="submit"]:hover {
    background-color: #0056b3;
}
